/* ======================================= */
/* ========|| Custom Properties ||======== */
/* ======================================= */
:root {
  --clr-primary-800: hsl(243, 87%, 12%);

  --clr-primary-700: hsl(238, 22%, 44%);

  --clr-accent-blue:  hsl(224, 93%, 58%);
  --clr-accent-green: hsl(170, 45%, 43%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(240, 75%, 98%);
  --clr-neutral-300: hsl(0, 0%, 75%);

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  --ff-accent: "Raleway", sans-serif;
  --ff-base: "Open Sans", sans-serif;

  --fs-heading: var(--ff-accent);
  --fs-body: var(--ff-base);

  --spacing: ;

  --fs-300: 13px;
  --fs-400: 14px;
  --fs-500: 15px;
  --fs-600: 16px;
  --fs-700: ;
  --fs-800: ;

  --fs-body: var(--fs-600);
  --fs-nav: ;
  --fs-button: ;
}

/* ======================================= */
/* ===============|| Reset ||============= */
/* ======================================= */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100vh;
}

body {
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

img,
picture,
video,
canvas,
svg {
  vertical-align: middle;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p {
  overflow-wrap: break-word;
  /* max-width: 75ch; */
  text-wrap: pretty; /*prevent alone words*/
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  line-height: 1.1;
  text-wrap: balance;
}

/* ======================================= */
/* ========|| General Styling ||========== */
/* ======================================= */
body {
  font-size: var(--fs-body);
}


/* ======================================= */
/* ==========|| Header Style ||=========== */
/* ======================================= */



/* ======================================= */
/* ===========|| Main Style ||============ */
/* ======================================= */



/* ======================================= */
/* ==========|| footer Style ||=========== */
/* ======================================= */



/* ======================================= */
/* ============|| Utilities ||============ */
/* ======================================= */



/* ======================================= */
/* ===========|| Breakpoints ||=========== */
/* ======================================= */
